*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom,#4CA9DF 0%,#292E91 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #ffffff;
    width: 400px;
    border-radius: 5px;
    overflow: hidden;
}

.header{
    background-color: #f1f2f6;
}

.header h2{
    text-align: center;
    padding: 20px;
}

.form{
    padding: 20px 30px;
}

.form-container{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-container label{
    display: block;
    margin-bottom: 5px;
}

.form-container input{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 3px solid #d1ccc0;
}

.form-container i{
    position: absolute;
    right: 5px;
    top: 38px;
    visibility: hidden;
}

.form-container small{
    position: absolute;
    left: 0px;
    visibility: hidden;
    margin-top: 5px;
}

.form button{
    display: block;
    width: 100%;
    background-color: darkslateblue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.form button :hover{
    background-color: #ff5252;
}

.form-container.error input{
    border-color: #e84118;
}

.form-container.success input{
    border-color: #2ecc71;
}

.form-container.error .fa-exclamation-circle{
    color: #e84118;
    visibility: visible;
}

.form-container.success .fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}

.form-container.error small{
    color: #e84118;
    visibility: visible;
}